<iframe class="absolute w-full h-full" [src]="videoUrl" frameborder="0" allowfullscreen>
</iframe>

<div class="w-screen bg-white">
  <div class="relative h-screen text-white bg-gradient-to-r from-black">
   <div class="absolute pt-[20%] px-24  w-full h-full">
    <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
    <p class="flex-wrap inline-block py-6 text-xl">{{bannerOverview}}</p>
    <div>
      <button
        class="bg-white text-black py-4 px-12 text-xl bg-opacity-50 rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ play
      </button>
      <button class="px-12 py-4 mx-2 text-white bg-gray-500 rounded-lg bg-opacity-20">
        more Info
      </button>
    </div>
   </div>
  </div>
</div>

<div>
</div>