<iframe class="absolute w-full h-full"
  src="https://www.youtube.com/embed/V9PVRfjEBTI?autoplay=1&mute=1&loop=1&controls=0" frameborder="0" allowfullscreen>
</iframe>

<div class="w-screen bg-white">
  <div class="relative h-screen text-white bg-gradient-to-r from-black">
   <div class="absolute pt-[20%] px-24  w-full h-full">
    <h1 class="text-6xl font-bold">Birds of feather</h1>
    <p class="flex-wrap inline-block py-6 text-xl">"Birds of a Feather" is a song by American singer-songwriter Billie
      Eilish from her third studio album, Hit Me Hard and Soft (2024). It was released as the album's second single on
      July 2, 2024, through Darkroom and Interscope Records. Eilish wrote the song with her brother Finneas O'Connell,
      who recorded and produced it at his home studio in Los Angeles. A new wave and pop song, "Birds of a Feather"
      explores themes of deep love and a desire for lasting connection.

      "Birds of a Feather" topped the Billboard Global 200 and the national charts of Australia, Estonia, Iceland,
      Latvia, Lithuania, Malaysia, New Zealand, and Singapore. The song peaked at number two on the UK singles chart and
      the US Billboard Hot 100 chart. It has been certified multi-platinum in Australia, Canada, France, Greece, New
      Zealand, Poland, Portugal, the UK, and the US. "Birds of a Feather" was nominated for Song of the Year, Record of
      the Year, and Best Pop Solo Performance at the 67th Annual Grammy Awards in 2025.</p>
    <div>
      <button
        class="bg-white text-black py-4 px-12 text-xl bg-opacity-50 rounded-lg hover:bg-opacity-70 transition-[1s]">
        ▶️ play
      </button>
      <button class="px-12 py-4 mx-2 text-white bg-gray-500 rounded-lg bg-opacity-20">
        more Info
      </button>
    </div>
   </div>
  </div>
</div>

<div>
</div>