
<app-header [userImg]="userProfileImg"></app-header>
<app-banner [bannerTitle]="(bannerDetail$ |async)?.original_title" [bannerOverview]="(bannerDetail$ |async)?.overview" [key]="(bannerVideo$|async)?.results[0].key "/>
<app-movies-carousel [title]="'Popular on Netflix'" [videoContents]="movies" />
<app-movies-carousel [title]="'Trending TV shows'" [videoContents]="tvShows"/>
<!-- <app-movies-carousel [title]="'Top Rated Movies'" [videoContents]="topRatedMovies"/>
<app-movies-carousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies"/>
<app-movies-carousel [title]="'Popular Movies'" [videoContents]="popularMovies"/>
<app-movies-carousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies"/> -->
